ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8081

INSIGHTDOCS_Application__Name=InsightDocs API
INSIGHTDOCS_Application__Environment=Development
INSIGHTDOCS_Application__FrontendUrl=http://localhost:5173

INSIGHTDOCS_ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=insightDocs;Username=appuser;Password=uBUU34ksWv5ouiTh1xJUBx6b38enBcgPRHfTpHCa;SSL Mode=Disable;Trust Server Certificate=true

INSIGHTDOCS_Keycloak__BaseUrl=http://auth.localhost/
INSIGHTDOCS_Keycloak__Realm=saas
INSIGHTDOCS_Keycloak__ClientId=insightdocs-admin-api
INSIGHTDOCS_Keycloak__ClientSecret=MuPmC5sOFsEH1ZgVxYBxJ54FIzeMzso3
INSIGHTDOCS_Keycloak__ApiAudience=
INSIGHTDOCS_Keycloak__RoleClientId=insightdocs-web

INSIGHTDOCS_Redis__ConnectionString=localhost:6379,password=8nJ2Q6mF1wX9pE4tL7vR0kD3cB5yH8qN,defaultDatabase=0,abortConnect=false

INSIGHTDOCS_SecurityAccess__SessionIdleTimeoutMinutes=30
INSIGHTDOCS_SecurityAccess__SessionWarningMinutes=5
INSIGHTDOCS_SecurityAccess__RedisSessionTtlMinutes=60
INSIGHTDOCS_SecurityAccess__RedisUserCacheTtlMinutes=30
INSIGHTDOCS_SecurityAccess__PermissionMatrixCacheTtlMinutes=15
INSIGHTDOCS_SecurityAccess__KeycloakRoleMappingRequired=true

INSIGHTDOCS_PasswordReset__TokenTtlMinutes=30

INSIGHTDOCS_Minio__Endpoint=minio.localhost
INSIGHTDOCS_Minio__AccessKey=insightdocs-api
INSIGHTDOCS_Minio__SecretKey=BgeHTnTgOEMR6AwoDL7uR4IeAI5cRASG
INSIGHTDOCS_Minio__BucketName=insightdocs-documents
INSIGHTDOCS_Minio__UseSsl=false
INSIGHTDOCS_Minio__MaxFileSizeBytes=26214400
